.addressArea {
    width: 100%;
    height: 50px;
    gap: 20px;
    justify-content: center;
    align-items: center;
    border: 1px solid #f0efef;
    transition: all 0.3s ease;
}

.addressArea:hover {
    border: 1px solid #00B14F;
}

.addressArea:focus-within {
    border: 1px solid #00B14F;
}

.textaddress {
    color: #00B14F;
}